<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="http://wanghaifeng.net">个人主机服务平台</a></h3>包括博客,个人笔记,电影电视剧等</li>
    <li><h3><a href="http://wanghaifeng.net:3000">我爱电影网</a></h3>最新最全的电影预告</li>
    <li><h3><a href="http://wanghaifeng.net/web-blog-php">云飞凌风个人网站</a></h3>介绍IT技术,心路历程等</li>
</ul>
<%- include footer %>
